body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.todo {
    color: #080;
    border: 1px dashed #888;
    margin-top: 15px;
    padding: 10px;
}

fieldset {
    margin-top: 25px;
}

.ck-editor__editable_inline {
    height: 200px;
}

#linkedEntitiesList i.unlink {
    color: #800;
    cursor: pointer;
}

#linkedEntityDialog #linkedEntityTypeList {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

#linkedEntityDialog #allEntitiesList {
    padding-left: 0px;
}

    #linkedEntityDialog #allEntitiesList li {
        list-style-type: none;
    }

.test {
    background-color: aquamarine;
}

